@model BooksIndexViewModel

@{
    ViewData["Title"] = "Books";
}

<h2>Books</h2>

<a asp-controller="Books" asp-action="Create" class="btn btn-success">Create</a>

@if (Model.Books == null || !Model.Books.Any())
{
    <p>
        <em>No books to display.</em>
    </p>
}
else
{   
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Release Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.AuthorFirstName @book.AuthorLastName</td>
                <td>@book.ReleaseDate.ToString("d")</td>
                <td>
                    <ul>
                        @foreach (var otherBook in book.OtherBooksByAuthor)
                        {
                            <li>@otherBook.Title</li>
                        }
                    </ul>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
